<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{{ post.titulo }}</title>
</head>
<body>
    <header>
        <h1>Diário de bordo</h1>
        <a href="{% url 'index' %}">Home</a>
    </header>

    <div class="post">
        <div class="post-card">
            <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}">
            <h2>{{ post.titulo }}</h2>
            <small>{{ post.data_publicacao }}</small>
            <p>{{ post.conteudo }}</p>
        </div>
    </div>

    <footer>
        <p>Blog Desenvolvido por Hemerson Daniel</p>
    </footer>
</body>
</html>
