{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Scooby-Doo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="home-container">
        <img src="{% static 'img/fundo.png' %}" class="fundo" alt="Fundo misterioso">
        <img src="{% static 'img/arvoresquerda.png' %}" class="arvore-esquerda" alt="Árvore esquerda">
        <img src="{% static 'img/arvoredireita.png' %}" class="arvore-direita" alt="Árvore direita">
        <img src="{% static 'img/titulo.png' %}" class="titulo" alt="Título Scooby-Doo">
        <img src="{% static 'img/van.png' %}" class="van" alt="Mystery Machine">

        <!-- Botão apenas de enfeite -->
        <a href="#" class="btn">Conheça a turma do mistério</a>
    </div>
</body>
</html>
